playwright
httpx
selectolax
pyktok
orjson==3.9.15
langchain
fastapi
uvicorn
prometheus-fastapi-instrumentator
opencv-python
supabase
langchain-openai
paddlepaddle
paddleocr
python-dotenv
browser-cookie3
pandas
TikTokApi
google-cloud-vision
setuptools
dateparser