playwright
httpx
selectolax
pyktok
langchain
fastapi
uvicorn
prometheus-fastapi-instrumentator
opencv-python
supabase
langchain-openai
paddlepaddle-gpu
paddleocr
python-dotenv
browser-cookie3
pandas
TikTokApi
easyocr